html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 600px;
    background-color: #ededed;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.body__title {
    padding-left: 10px;
}

.body__content {
    margin: 10px;
}

.container {
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    
}

.container__form {
    padding: 10px 0px 10px 0px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.container__title {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 0px 10px 5px;
    border-bottom: solid 1px hsl(0, 0%, 80%);
}

.container__button {
    border: none;
    color: white;
    background-color: teal;
    margin: 5px;
    height:25px;
    font-size: 12px;
    font-weight: lighter;
    flex-grow: 1;
}

.form__input {
    border: solid 1px hsl(0, 0%, 80%);
    flex-basis: 80%;
    flex-grow: 1;
    margin: 5px;
    height: 25px;
    font-size: small;
    
}

@media screen and (max-width: 600px) {
}.form__input {width: 80%;
}

.list__item--done {
text-decoration: line-through;
}