.section__form {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
.section__form {
    grid-template-columns: 1fr;
}
}

.section__form__button {
    padding: 10px;
    border: none;
    color: white;
    background-color: hsl(180, 100%, 25%);
}

.section__form__button:hover {
    background-color: hsl(180, 100%, 30%);
}

.section__form__button:active {
    background-color: hsl(180, 100%, 35%);
}

.section__form__input {
    border: solid 1px #cccccc;
    padding: 10px;  
}
